.cor1{ color: #FFCA33; }
.bgCor1 { background-color: #FFCA33; }

.cor1a{ color: #FFB11A; }
.bgCor1a { background-color: #FFB11A; }

.cor1b{ color: #FF9700; }
.bgCor1b { background-color: #FF9700; }

.cor1c{ color: #E67E00; }
.bgCor1c { background-color: #E67E00; }

.cor1d{ color: #CC6400; }
.bgCor1d { background-color: #CC6400; }

.cor1e{ color: #B34B00; }
.bgCor1e { background-color: #B34B00; }

.cor2{ color: #CAE3CF; }
.bgCor2 { background-color: #CAE3CF; }

.cor2a{ color: #B0C9B5; }
.bgCor2a { background-color: #B0C9B5; }

.cor2b{ color: #96AF9B; }
.bgCor2b { background-color: #96AF9B; }

.cor2c{ color: #7D9682; }
.bgCor2c { background-color: #7D9682; }

.cor2d{ color: #647D69; }
.bgCor2d { background-color: #647D69; }

.cor2e{ color: #4A634F; }
.bgCor2e { background-color: #4A634F; }

.cor3{ color: #66C5FF; }
.bgCor3 { background-color: #66C5FF; }
.bdCor3 { border-color: #66C5FF; }

.cor3a{ color: #3392FF; }
.bgCor3a { background-color: #3392FF; }

.cor3b{ color: #1A79F5; }
.bgCor3b { background-color: #1A79F5; }

.cor3c{ color: #005FDB; }
.bgCor3c { background-color: #005FDB; }

.cor3d{ color: #0046C2; }
.bgCor3d { background-color: #0046C2; }

.cor3e{ color: #002CA8; }
.bgCor3e { background-color: #002CA8; }

.cor4{ color: #BEB7A4; }
.bgCor4 { background-color: #A59E8B; }
.bdCor4 { border-color: #A59E8B; }

.cor4a{ color: #A59E8B; }
.bgCor4a { background-color: #A59E8B; }

.cor4b{ color: #8B8471; }
.bgCor4b { background-color: #8B8471; }

.cor4c{ color: #726B58; }
.bgCor4c { background-color: #726B58; }

.cor4d{ color: #58513E; }
.bgCor4d { background-color: #58513E; }

.cor4e{ color: #3F3825; }
.bgCor4e { background-color: #3F3825; }

.cor5{ color: #959EF9; }
.bgCor5 { background-color: #959EF9; }
.bdCor5 { border-color: #959EF9; }

.cor5a{ color: #7C85E0; }
.bgCor5a { background-color: #7C85E0; }

.cor5b{ color: #626BC6; }
.bgCor5b { background-color: #626BC6; }

.cor5c{ color: #4952AD; }
.bgCor5c { background-color: #4952AD; }

.cor5d{ color: #2F3893; }
.bgCor5d { background-color: #2F3893; }

.cor5e{ color: #161F7A; }
.bgCor5e { background-color: #161F7A; }

.cor6{ color: #F3CEFF; }
.bgCor6 { background-color: #F3CEFF; }
.bdCor6 { border-color: #F3CEFF; }

.cor6a{ color: #DAB5FF; }
.bgCor6a { background-color: #DAB5FF; }
.bdCor6a { border-color: #DAB5FF; }

.cor6b{ color: #C19CFF; }
.bgCor6b { background-color: #C19CFF; }
.bdCor6b { border-color: #C19CFF; }

.cor6c{ color: #A782F9; }
.bgCor6c { background-color: #A782F9; }
.bdCor6c { border-color: #A782F9; }

.cor6d{ color: #8E69E0; }
.bgCor6d { background-color: #8E69E0; }
.bdCor6d { border-color: #8E69E0; }

.cor6e{ color: #744FC6; }
.bgCor6e { background-color: #744FC6; }
.bdCor6e { border-color: #744FC6; }